.box1{
    display: inline-block;
    background-color: aqua;
    border: 2px solid forestgreen;
}


.box22{
    display: inline-block;
    background-color: aqua;
    border: 2px solid forestgreen;
}


.block{
    float:left;
    background-color: bisque;
    width: 25%;
    height: 100%;
}


.tx{
    display: inline-block;
    background-color: darkgray;
    width: 75%;
}


@media(max-width: 600px){
    
    .box1{
        display: none;
    }

    .block{
        width: 100%;
        height: auto;
        float: none;
        margin: 10px 0 10px 0;
    }

    .tx{
        width: 100%;
    }
}


@media(min-width: 600px){
    
    .box2{
        display: none;
    }
}
