
.fig_aquablue{
    background-color: aqua;
    max-width: 100%;
    position: relative;

}


.fig_bis{
    position: absolute;
    background-color: bisque;
    width: 200px;
    padding: 0 0 10px 5px;
    display:inline-block;
}

.tx{
    position: relative;
    background-color: darkgray;
    margin-left:200px;
}

.fixed{
    position: fixed;
    background-color: limegreen;
    width: 100%;
    height: 60px;
    bottom: 0;
    right: 0;
}
